.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4px;
    padding-right: 4px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.m-0 {
    display: none;
}

.m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.33333%;
}

.m-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.m-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.m-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.m-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .row {

        padding-left: 8px;
        padding-right: 8px;
    }
    
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .l-0 {
        display: none;
    }
    
    .l-1,
    .l-2,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.33333%;
    }
    
    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1024px) {
    .row {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .p-0 {
        display: none;
    }
    
    .p-1,
    .p-2,
    .p-3,
    .p-4,
    .p-5,
    .p-6,
    .p-7,
    .p-8,
    .p-9,
    .p-10,
    .p-11,
    .p-12 {
        display: block;
    }

    .p-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .p-2 {
        flex: 0 0 16.66667%;
        max-width: 16.33333%;
    }
    
    .p-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .p-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .p-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .p-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .p-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .p-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .p-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .p-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .p-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .p-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}